    * {
        margin: 0;
        padding: 0;
        font-family: 'Playfair Display', serif;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 300;
    }
    
     :root {
        --red-color: #C70039;
        --black-color: #1C1C1E;
        --header-image:
    }
    
    body {
        scroll-snap-type: mandatory y;
        overflow-x: hidden;
        overflow-y: scroll;
        background: var(--black-color);
    }
    
    .header {
        position: relative;
        width: 100%;
        height: 600px;
        color: white;
        overflow: hidden;
        background: #c31432;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, hsla(275, 66%, 13%, 0.600), hsla(350, 81%, 42%, 0.600)), url(../../assets/images/header-image.jpg) fixed;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(275, 66%, 13%, 0.600), hsla(350, 81%, 42%, 0.600)), url(../../assets/images/header-image.jpg) fixed;
        background-size: cover;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .header__textos {
        height: 100%;
        text-align: center;
    }
    
    .header__textos h1 {
        font-weight: 400;
        font-size: 40px;
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .header__textos h2 {
        font-weight: 300;
        font-size: 30px;
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .row {
        display: flex;
        height: 100%;
        width: fit-content;
        width: 100%;
    }
    
    .row__gap {
        gap: 10px;
    }
    
    .row--height-3 {
        height: 300px;
    }
    
    .column {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        transition: all ease-in-out 1s;
    }
    
    .column--centered {
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    
    .column--centered-v {
        text-align: center;
        justify-content: center;
    }
    
    .column--width-1 {
        width: 10%;
    }
    
    .column--width-3 {
        width: 30%;
    }
    
    .column--width-4 {
        width: 40%;
    }
    
    .column--width-6 {
        width: 60%;
    }
    
    .column--focus:hover {
        border-radius: 20px;
        background: rgba(0, 0, 0, .5);
        padding: 50px;
    }
    
    .wave {
        position: absolute;
        width: 100%;
        bottom: 0%;
    }
    
    .triangle {
        background: white;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        height: 100px;
        overflow: hidden;
    }
    
    .nav {
        overflow: hidden;
        display: flex;
        flex-flow: row;
        background: var(--black-color);
    }
    
    .nav__container--left {
        margin-left: auto;
    }
    
    .nav__logo {
        display: inline-block;
    }
    
    .nav__logo img {
        padding: 5px;
        height: 60px;
    }
    
    .nav__list {
        margin: 0 50px 0 0;
        list-style-type: none;
    }
    
    .list__item {
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }
    
    .list__item--link {
        font-size: 20px;
        color: white;
        text-decoration: none;
        width: 100%;
    }
    
    .list__item--link::after {
        position: absolute;
        content: "";
        color: white;
        background: white;
        margin: auto;
        width: 0%;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        transition: all 1s;
    }
    
    .list__item--link:hover::after {
        width: 100%;
    }
    
    .container {
        overflow: hidden;
        padding: 50px;
    }
    
    .container--fluid {
        padding: 0px;
    }
    
    .subtitle {
        color: var(--red-color);
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin: 10px;
    }
    
    .about__profile {
        display: block;
        margin: 0 auto 0 auto;
        clip-path: circle(40%);
        object-fit: cover;
        width: 50%;
        height: 250px;
    }
    
    .about__illustration {
        width: 80%;
        object-fit: cover;
    }
    
    .paragraph {
        font-size: 20px;
        font-weight: 300;
        text-align: justify;
        word-break: break-all;
        color: white;
    }
    
    .paragraph--jump {
        margin: 10px 0 0 0;
    }
    
    .paragraph__title {
        color: var(--red-color);
        font-size: 25px;
        font-weight: 400;
    }
    
    .about__socials {
        margin: 30px 0 0 0;
        display: flex;
        text-align: center;
    }
    
    .socials__item {
        color: white;
        font-size: 40px;
        width: 100%;
    }
    
    .socials__item a {
        color: inherit;
    }
    
    .socials__item a>i {
        padding: 5px;
        border-radius: 20%;
        transition: all 0.5s ease;
    }
    
    .socials__item a:hover i {
        color: var(--red-color);
    }
    
    .socials__item a>i:hover {
        border-radius: 50px;
        border: var(--red-color) 2px solid;
    }
    
    .contact {
        background: -webkit-linear-gradient(to right, hsla(275, 66%, 13%, 0.600), hsla(350, 81%, 42%, 0.600)), url(../../assets/images/contact-image.jpg) fixed;
        background: linear-gradient(to right, hsla(275, 66%, 13%, 0.600), hsla(350, 81%, 42%, 0.600)), url(../../assets/test.svg) fixed;
        background-size: cover;
        height: auto;
    }
    
    .portfolio {}
    
    @media only screen and (max-width: 768px) {
        .row {
            flex-flow: column;
        }
        .column {
            width: 100%;
            justify-content: center;
            align-content: center;
            margin: auto;
        }
        .about__illustration {
            width: 100%;
            object-fit: cover;
        }
        .header__textos h1 {
            top: 20%;
        }
        .header__textos h2 {
            top: 20%;
        }
    }