* {
    margin: 0;
    padding: 0;
}

:root{
    --black: #000000;
    --white: #fff;
    --red: #eb1010;
}

@keyframes loading {
    0%{
        width: 0;
    }
    

    100%{
        width: 100%;
        border-color: #05b3ea;
    }
}

@keyframes unloadingBox {
    0%{
        margin: 0;
    }
    
    50%{
        opacity: .1;
    }

    100%{
        opacity: 0;
        right: 100%;
    }
}

@keyframes loadingLogo {
    0%{
        transform: rotate(0deg);

    }
    

    100%{
        transform: rotate(360deg);
    }
}


@keyframes shapeAnimation {
    0%{
        transform: rotate(-10deg);
        transform: skew(0deg);
    }

    100%{
        transform: rotate(10deg);
        transform: skew(10deg);
    }
}

body {
    background:  var(--black);
    font-family: 'Sofia Sans', sans-serif;
    font-weight:300;
    scroll-snap-type: y mandatory;
}

.loading__box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background: var(--black);
    font-family: 'Ubuntu', sans-serif;
    transition: all 2s ease-in-out;
    z-index: 2;
}

.loading__box--disable{
    animation: unloadingBox 2s ease-in-out;
}
.loading__frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.loading__logo {
    object-fit: cover;
    width: 50px;
    animation: loadingLogo normal 2s 0s infinite ease;
}
.loading__logo::after {
    content: '';
    object-fit: cover;
    width: 50px;
    box-shadow: 0px 0px 50px var(--white);
    animation: loadingLogo normal 2s 0s infinite ease;
}

.loading__text {
    font-weight: bold;
    color: var(--white);
}

.loading__text::after {
    content: '';
    display: block;
    border-bottom: solid 2px #e5140b;
    padding: 2px;
    width: 0;
    animation: loading alternate-reverse 2s 0s infinite ease-in-out;
}


.loading__text::before {
    content: '';
    display: block;
    border-top: solid 2px #e5140b;
    padding: 2px;
    width: 0;
    animation: loading alternate 2s 0s infinite ease-in-out;
}

.header{
    overflow: hidden;
    position:sticky;
    top: 0;
    z-index: 1;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
    color: var(--white);
}

.nav > .nav__list{
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    list-style: none;
    background: rgba(28, 28, 28, 0.5);
    border-radius: 10px;
}

.nav__list > .list__item{
    padding: 5px;
    cursor: pointer;
}


.list__item::after{
    content:'';
    display: block;
    border-bottom: 1px solid var(--white);
    width: 0;
    transition: all 1s ease-in-out;
}
.nav__list > .list__item:hover::after{
    width: 100%;
}


/*body*/

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: var(--white);
    text-align: center;
    justify-content: center;
    text-align: center;
}

.container--width2{
    width: 20%;
}
.container--width4{
    width: 40%;
}
.container--width6{
    width: 60%;
}

.container--column {
    flex-direction: column;
}

.pattern{
    background-image: url(../img/pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.about{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgba(42, 42, 42, .8);
    height: fit-content;
    margin: 20px;
    padding: 10px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.about .about__image{
    width: 100%;
    height: 100%;
    margin: auto;
    width: 110px;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    clip-path: circle();
}

.about .about__text{
    word-break: keep-all;
    text-align: justify;
    padding: 10px;
}

.credits__list{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    margin: auto;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.credits__list .list__item{
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1rem;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.credits__list .list__item > a{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
    transition: all 1s ease-in-out;
}

.credits__list .list__item > a:hover{
    padding: 5px;
    border-radius: 15px;
    color: var(--black);
    background: rgba(255, 255, 255, 0.404);
}
.credits__list .list__item > a:visited{
    color: white;
}

.figure .custom__shape{
    object-fit: cover;
    width: 100%;
    transition: all 0.5s ease-in-out;
    animation: shapeAnimation 5s alternate-reverse infinite ease-in-out;
}
.figure .custom__shape:hover{
    width: 99%;
}

.title__header{
    text-align: center;
    width: 70%;
    justify-self: center;
    align-self: center;
    position: relative;
    font-size: 4rem;
    background: -webkit-linear-gradient(#eee, rgb(185, 185, 185));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title__header::before{
    content: '';
    display: block;
    width: 100%; 
    height: 100%; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15rem; 
    opacity: .3;
    background: radial-gradient(49.19% 88.28% at 72.99% 113.54%, rgba(93, 227, 236, 0.73) 0%, rgba(93, 227, 236, 0.1679) 59.78%, rgba(93, 227, 236, 0) 100%), linear-gradient(54.57deg, #862AB1 8.59%, rgba(185, 91, 230, 0) 80.49%), radial-gradient(118.75% 118.75% at 96.65% 74.22%, #308EE6 0%, rgba(48, 158, 230, 0) 73.91%), radial-gradient(114.51% 155.86% at 9.82% 10.94%, rgba(255, 85, 85, 0.7) 0%, rgba(255, 85, 85, 0.147) 61.98%, rgba(255, 85, 85, 0) 100%, #F2F5FA); 
    background-blend-mode: hard-light,darken,normal,normal,normal,normal; filter: blur(50px);
}

.split{
    width: 100%;
    height: 30px;
    background-image: url(../img/split.svg);
    background-size: 50px;
}

.portfolio {
    color: white;
    text-align: center;
}

.portfolio__title{
    font-weight: bolder;
    border: dotted var(--white) 1px;
    background: var(--white);
    background-clip: padding-box;
    color: var(--black);
    padding: 2px;
    width: fit-content;
    display: block;
    margin: 20px auto;
}
.portfolio__box{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.portfolio__project{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    width: 30%;
    overflow: hidden;
    height: fit-content;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.project__header{
    height: 40%;
    position: relative;
}
.project__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__title{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
    background-color: rgba(42, 42, 42, .4);
}

.project__body{
    height: 40%;
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
    word-break: break-all;
    padding: 10px;
}

.project__footer{
    height: 10%;
    padding: 10px;
}
.project__button {
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: var(--white);  /* fallback for old browsers */
    transition: all 1s ease-in-out;

}

.project__button:visited {
    color: var(--black);
}

.project__button:hover {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


@media only screen and (max-width: 768px) {
    
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .pattern{
        order: 1;
        background: none;
    }

    .figure{
        order: 2;
        background-image: url(../img/pattern.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .figure .custom__shape{
        width: 70%;
    }
    .figure .custom__shape:hover{
        width: 70%;
    }

    
    .title__header{
        width: 100%;
        margin: 20px 0 0 0;
    }

    .about{
        margin: 0;
        padding: 20px;
        width: 80%;
    }

    .portfolio__project{
        width: 90%;
    }
}